[Desktop Entry]
Type=Application
Version=1.1
Name=Linux Desktop Entry Creator
GenericName=Desktop Launcher Creator
Comment=Create and manage .desktop launcher shortcuts for standalone applications
Exec=app_launcher_creator %U
Icon=com.binhmmo.app_launcher_creator
Terminal=false
StartupNotify=true
Categories=Utility;FileTools;
StartupWMClass=com.binhmmo.app_launcher_creator
Keywords=desktop;entry;launcher;shortcut;appimage;menu;xdg;
